# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
lib/bin
lib/build/

# Ignore IDE files
.idea
AgentIO.iml
.kotlin

# Ignore vscode files
.vscode/

# Kiro files
.kiro

# Docs
docs
