# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/build/

# Ignore IDE files
.idea
AgentIO.iml
.kotlin

# Ignore vscode files
.vscode/

# Coding agent discussions
discussions/

# Docs
docs

# Bin files
agentio-cmm-impl/bin
agentio-core/bin/
agentio-examples/bin/
agentio-experiments/bin/

